---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title='Empty | Oct 25th'>
	<section class='container'>
		<div class='controls'>
			<h1 class='heading'>
				Day 25 Empty - Well this one's easy. Gonna clean my house today,
				bye.
			</h1>
		</div>
		<img
			src='https://i.giphy.com/3o7TKqTOqevMiJAwU0.webp'
			alt='skeleton cleaning.'
		/>
	</section>
</BaseLayout>

<style>
	.heading,
	img {
		text-align: center;
		margin-inline: auto;
	}
</style>
