---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title='Filters | Oct 4th'>
	<section class='container'>
		<div class='controls'>
			<h1 class='heading'>Day 4 Filters</h1>
			<button class='btn'>X-Ray</button>
		</div>
		<div class='stack-bg'>
			<div class='img-stack'>
				<svg
					class='body'
					viewBox='0 0 205 220'
					xmlns='http://www.w3.org/2000/svg'
				>
					<rect
						x='0.152222'
						y='15.084'
						width='204'
						height='204'
						rx='102'
						fill='inherit'></rect>
					<path
						d='M53.6179 89.4136C53.6179 79.989 61.2581 72.3489 70.6827 72.3489C80.1073 72.3489 87.7475 79.989 87.7475 89.4136V100.019C87.7475 109.444 80.1073 117.084 70.6827 117.084C61.2581 117.084 53.6179 109.444 53.6179 100.019V89.4136Z'
						fill='#E0E0E0'></path>
					<path
						d='M116.557 89.4136C116.557 79.989 124.197 72.3489 133.622 72.3489C143.046 72.3489 150.687 79.989 150.687 89.4136V100.019C150.687 109.444 143.046 117.084 133.622 117.084C124.197 117.084 116.557 109.444 116.557 100.019V89.4136Z'
						fill='#E0E0E0'></path>
					<path
						d='M61.6446 97.5181C61.6446 92.4161 65.7806 88.2802 70.8826 88.2802C75.9845 88.2802 80.1205 92.4161 80.1205 97.5181V103.259C80.1205 108.361 75.9845 112.497 70.8826 112.497C65.7806 112.497 61.6446 108.361 61.6446 103.259V97.5181Z'
						fill='#181817'></path>
					<path
						d='M123.81 97.5181C123.81 92.4161 127.946 88.2802 133.048 88.2802C138.15 88.2802 142.286 92.4161 142.286 97.5181V103.259C142.286 108.361 138.15 112.497 133.048 112.497C127.946 112.497 123.81 108.361 123.81 103.259V97.5181Z'
						fill='#181817'></path>
					<path
						d='M92.8546 128.331C92.8546 123.229 96.9905 119.093 102.093 119.093C107.194 119.093 111.33 123.229 111.33 128.331V134.072C111.33 139.174 107.194 143.31 102.093 143.31C96.9905 143.31 92.8546 139.174 92.8546 134.072V128.331Z'
						fill='#B36B38'></path>
					<path
						d='M56.8587 156.101C71.001 172.154 108.918 194.629 147.446 156.101'
						stroke='#181817'
						stroke-width='4'></path>
					<path
						d='M60.1444 14.2987C65.0587 11.2726 66.7618 10.4176 66.9373 10.4041C68.4003 9.71493 69.6632 9.24673 71.3315 8.64568C72.067 8.38066 75.2717 7.29399 82.6781 7.05169C86.2136 6.93603 87.7823 6.99272 90.1351 7.47054C91.9919 7.84764 93.8322 7.90337 95.9255 8.53945C97.9862 9.1656 100.353 9.17688 102.767 9.89399C105.699 10.7648 108.801 11.1364 111.312 11.9006L111.36 11.9151C113.543 12.5797 116.391 13.4464 122.903 13.1446C127.958 12.9104 136.292 12.1817 140.743 11.9789C145.723 11.7519 146.975 11.6749 148.679 11.8893C151.034 12.1857 154.677 12.5541 158.349 14.5487C162.724 16.9251 165.398 18.2156 166.719 19.1193C168.511 20.3457 170.7 21.3563 172.648 24.307C173.963 26.2988 176.324 28.9672 175.664 35.7977C175.217 40.4176 174.3 44.7673 172.227 47.483C170.327 49.9714 167.275 53.1569 162.603 56.0041C160.246 57.4405 157.772 58.5617 153.817 59.8642C149.861 61.1668 144.585 62.6072 140.093 63.4702C135.601 64.3332 132.001 64.6104 129.873 64.6146C127.744 64.6187 127.042 64.4874 125.969 63.651C120.655 59.5062 118.038 54.3237 115.79 54.1079C114.894 54.0219 113.781 54.08 109.597 56.1829C105.971 58.0053 99.5804 61.5664 95.7156 63.2444C90.7853 65.3851 86.6111 67.2974 85.1661 65.2884L85.15 65.266C84.6527 64.5749 83.9242 63.5625 83.9638 60.6232C83.9968 58.1689 84.9895 55.794 83.8319 54.3246C83.6806 54.1326 83.4331 54.3585 79.6287 56.2996C75.8243 58.2407 68.6795 61.7895 64.5645 63.6057C60.4494 65.4219 59.3959 65.5031 58.8447 65.2259C58.2935 64.9488 58.1983 64.3228 58.2923 63.752C58.4746 62.6445 61.3895 58.1403 64.1481 51.0078C65.5138 47.4764 65.7532 45.5526 65.4189 43.9854C65.2765 43.3181 65.0852 42.7962 64.5586 42.753C63.2578 42.6464 61.2322 42.6375 56.6408 45.9587C53.7637 48.0399 48.8979 51.8475 45.0254 54.3684C38.5948 58.5547 34.7816 60.6095 32.8994 60.231C31.7727 60.0045 30.6424 59.547 30.1293 58.3498C29.697 57.3413 29.0821 54.8123 29.2509 51.515C29.3577 49.4279 29.8419 46.4251 32.0718 42.086C33.3669 39.5659 35.2601 36.6284 37.8481 33.4352C40.4361 30.2421 43.6224 26.8948 47.7615 23.4271C51.9005 19.9594 56.7888 16.365 60.1444 14.2987Z'
						fill='#181817'></path>
				</svg>

				<svg
					class='bones'
					viewBox='0 0 205 220'
					xmlns='http://www.w3.org/2000/svg'
				>
					<rect
						x='19.7366'
						y='29.7323'
						width='164.457'
						height='174.703'
						rx='82.2285'
						fill='inherit'></rect>
					<path
						d='M53.4309 89.4136C53.4309 79.989 61.071 72.3489 70.4956 72.3489C79.9202 72.3489 87.5604 79.989 87.5604 89.4136V100.019C87.5604 109.444 79.9202 117.084 70.4956 117.084C61.071 117.084 53.4309 109.444 53.4309 100.019V89.4136Z'
						fill='#181817'></path>
					<path
						d='M116.37 89.4136C116.37 79.989 124.01 72.3489 133.435 72.3489C142.859 72.3489 150.499 79.989 150.499 89.4136V100.019C150.499 109.444 142.859 117.084 133.435 117.084C124.01 117.084 116.37 109.444 116.37 100.019V89.4136Z'
						fill='#181817'></path>
					<path
						d='M92.7854 130.233C92.7854 128.63 92.7854 119.922 101.896 119.001C110.979 119.802 110.979 127.489 110.979 130.233C110.979 139.658 104.946 150.882 101.896 136.066C99.4673 151.171 92.7854 139.658 92.7854 130.233Z'
						fill='#181817'></path>
					<path
						d='M56.6717 155.733C70.8139 171.787 108.731 194.261 147.259 155.733'
						stroke='#181817'
						stroke-width='4'></path>
					<line
						x1='101.965'
						y1='186.422'
						x2='101.965'
						y2='166.37'
						stroke='#181817'
						stroke-width='4'></line>
					<line
						x1='126.368'
						y1='183.114'
						x2='120.505'
						y2='163.938'
						stroke='#181817'
						stroke-width='4'></line>
					<line
						y1='-2'
						x2='20.0521'
						y2='-2'
						transform='matrix(0.292372 -0.956305 -0.956305 -0.292372 75.7461 182.53)'
						stroke='#181817'
						stroke-width='4'></line>
					<line
						x1='141.972'
						y1='175.004'
						x2='131.946'
						y2='157.638'
						stroke='#181817'
						stroke-width='4'></line>
					<line
						y1='-2'
						x2='20.0521'
						y2='-2'
						transform='matrix(0.5 -0.866025 -0.866025 -0.5 60.3222 174.004)'
						stroke='#181817'
						stroke-width='4'></line>
				</svg>
			</div>
		</div>
	</section>
</BaseLayout>

<style>
	.btn {
		padding: var(--spacing-2xs) var(--spacing-s);
		background-color: var(--lavender-400);
		border: none;
		border-radius: var(--spacing-3xs);
		font-weight: 600;
		cursor: pointer;
		transition:
			background 0.2s,
			color 0.2s;
	}
	.btn:hover {
		background-color: var(--lavender-500);
	}
	.stack-bg {
		background-color: rgb(8, 8, 8);
		border: 8px solid rgb(12, 12, 12);
		padding: var(--spacing-l);
		display: flex;
		justify-content: center;
	}
	.img-stack {
		position: relative;
		width: 60%;
		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	.body {
		fill: hsl(25, 50%, 57%);
		position: relative;
		z-index: 5;
		transition:
			opacity 0.8s ease-in-out,
			filter none;
	}
	.body.xray-on {
		filter: hue-rotate(180deg) saturate(140%) brightness(10%);
		z-index: 0;
	}
	.bones {
		fill: #e0e0e0;
		filter: brightness(90%);
		position: absolute;
		inset: 0;
		z-index: 1;
	}

	@media (max-width: 768px) {
	}
</style>
<script>
	function setupTransparencyButton() {
		const btn = document.querySelector('.btn')
		const body = document.querySelector('.body')

		btn?.addEventListener('click', () => {
			body?.classList.add('xray-on')

			setTimeout(() => {
				body?.classList.remove('xray-on')
			}, 5000)
		})
	}

	setupTransparencyButton()

	document.addEventListener('astro:page-load', setupTransparencyButton)
</script>
