---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title='Illumination | Oct 17th'>
	<section class='container'>
		<div class='controls'>
			<h1 class='heading'>Day 17 Illumination</h1>
		</div>
		<div class='lanterns'>
			<svg
				width='1400'
				height='650'
				viewBox='0 0 1400 650'
				fill='none'
				xmlns='http://www.w3.org/2000/svg'
			>
				<g id='illumination'>
					<g id='candles'>
						<g id='lighting' filter='url(#filter0_n_36_2)'>
							<rect
								x='92.6526'
								y='259.717'
								width='353.833'
								height='253.62'
								rx='112.631'
								fill='#FFD814'></rect>
						</g>
						<g id='lighting_2' filter='url(#filter1_n_36_2)'>
							<rect
								x='972.404'
								y='205.471'
								width='353.833'
								height='253.62'
								rx='112.631'
								fill='#FFD814'></rect>
						</g>
						<g id='lighting_3' filter='url(#filter2_n_36_2)'>
							<rect
								x='467.085'
								y='340.701'
								width='285.405'
								height='253.62'
								rx='112.631'
								fill='#FFD814'></rect>
						</g>
						<g id='lighting_4' filter='url(#filter3_n_36_2)'>
							<rect
								x='872.792'
								y='459.09'
								width='181.124'
								height='160.488'
								rx='80.2441'
								fill='#FFD814'></rect>
						</g>
					</g>
					<g id='pumpkins'>
						<g id='Vector' filter='url(#filter4_n_36_2)'>
							<path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M386.022 222.243H432.186C448.561 222.272 464.256 228.791 475.835 240.369C487.414 251.948 493.932 267.644 493.962 284.019V497.428C493.932 513.803 487.414 529.499 475.835 541.078C464.256 552.656 448.561 559.175 432.186 559.204H378.721C367.377 572.907 350.192 581.668 331.097 581.668H207.545C198.442 581.664 189.452 579.648 181.219 575.764C172.986 571.881 165.713 566.226 159.921 559.204H106.456C90.0812 559.175 74.3855 552.656 62.8066 541.078C51.2277 529.499 44.7097 513.803 44.68 497.428V284.019C44.7097 267.644 51.2277 251.948 62.8066 240.369C74.3855 228.791 90.0812 222.272 106.456 222.243H152.62C162.841 202.25 183.62 188.547 207.545 188.547H252.473V184.728C252.473 168.217 258.875 152.716 270.556 141.035L279.879 131.712L303.691 155.524L294.368 164.847C289.089 170.126 286.169 177.202 286.169 184.728V188.547H331.097C355.021 188.547 375.801 202.25 386.022 222.243ZM269.321 418.727L303.017 445.536L336.039 419.401L362.584 449.597L359.851 481.149L333.216 484.342L327.425 467.797L311.293 484.342L289.37 493.16L269.321 472.346L250.903 493.16L222.775 486.41L207.545 472.346L202.603 486.41L178.791 481.149L175.208 449.597L202.603 419.401L235.625 445.536L269.321 418.727ZM213.835 367.585L157 310.751L122.63 345.121L146.442 368.933L157 358.375L190.023 391.397L213.835 367.585ZM348.619 391.397L324.807 367.585L381.641 310.751L416.011 345.121L392.199 368.933L381.641 358.375L348.619 391.397Z'
								fill='#F5722B'></path>
							<path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M386.022 222.243H432.186C448.561 222.272 464.256 228.791 475.835 240.369C487.414 251.948 493.932 267.644 493.962 284.019V497.428C493.932 513.803 487.414 529.499 475.835 541.078C464.256 552.656 448.561 559.175 432.186 559.204H378.721C367.377 572.907 350.192 581.668 331.097 581.668H207.545C198.442 581.664 189.452 579.648 181.219 575.764C172.986 571.881 165.713 566.226 159.921 559.204H106.456C90.0812 559.175 74.3855 552.656 62.8066 541.078C51.2277 529.499 44.7097 513.803 44.68 497.428V284.019C44.7097 267.644 51.2277 251.948 62.8066 240.369C74.3855 228.791 90.0812 222.272 106.456 222.243H152.62C162.841 202.25 183.62 188.547 207.545 188.547H252.473V184.728C252.473 168.217 258.875 152.716 270.556 141.035L279.879 131.712L303.691 155.524L294.368 164.847C289.089 170.126 286.169 177.202 286.169 184.728V188.547H331.097C355.021 188.547 375.801 202.25 386.022 222.243ZM432.186 525.508C447.686 525.508 460.266 512.928 460.266 497.428V284.019C460.266 268.519 447.686 255.939 432.186 255.939H392.873V278.403H359.177V250.323C359.177 234.823 346.597 222.243 331.097 222.243H207.545C192.044 222.243 179.465 234.823 179.465 250.323V278.403H145.768V255.939H106.456C90.956 255.939 78.3761 268.519 78.3761 284.019V497.428C78.3761 512.928 90.956 525.508 106.456 525.508H146.105C145.878 523.645 145.765 521.769 145.768 519.892V491.812H179.465V519.892C179.465 535.392 192.044 547.972 207.545 547.972H331.097C346.597 547.972 359.177 535.392 359.177 519.892V491.812H392.873V519.892C392.873 521.195 392.761 522.498 392.649 523.778C392.606 524.355 392.569 524.931 392.536 525.508H432.186Z'
								fill='#B85620'></path>
							<path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M1266.02 153.911H1312.19C1328.56 153.941 1344.26 160.459 1355.84 172.038C1367.41 183.617 1373.93 199.312 1373.96 215.687V429.096C1373.93 445.471 1367.41 461.167 1355.84 472.746C1344.26 484.325 1328.56 490.843 1312.19 490.872H1258.72C1247.38 504.576 1230.19 513.337 1211.1 513.337H1087.54C1078.44 513.332 1069.45 511.316 1061.22 507.433C1052.99 503.549 1045.71 497.894 1039.92 490.872H986.456C970.081 490.843 954.385 484.325 942.807 472.746C931.228 461.167 924.71 445.471 924.68 429.096V215.687C924.71 199.312 931.228 183.617 942.807 172.038C954.385 160.459 970.081 153.941 986.456 153.911H1032.62C1042.84 133.918 1063.62 120.215 1087.54 120.215H1132.47H1166.17H1211.1C1235.02 120.215 1255.8 133.918 1266.02 153.911ZM1149.32 350.396L1183.02 377.204L1216.04 351.07L1242.58 381.265L1239.85 412.818L1213.22 416.01L1207.42 399.465L1191.29 416.01L1169.37 424.828L1149.32 404.015L1130.9 424.828L1102.78 418.078L1087.54 404.015L1082.6 418.078L1058.79 412.818L1055.21 381.265L1082.6 351.07L1115.62 377.204L1149.32 350.396ZM1093.83 299.254L1037 242.42L1002.63 276.79L1026.44 300.602L1037 290.043L1070.02 323.066L1093.83 299.254ZM1228.62 323.066L1204.81 299.254L1261.64 242.42L1296.01 276.79L1272.2 300.602L1261.64 290.043L1228.62 323.066Z'
								fill='#F5722B'></path>
							<path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M1266.02 153.911H1312.19C1328.56 153.941 1344.26 160.459 1355.84 172.038C1367.41 183.617 1373.93 199.312 1373.96 215.687V429.096C1373.93 445.471 1367.41 461.167 1355.84 472.746C1344.26 484.325 1328.56 490.843 1312.19 490.872H1258.72C1247.38 504.576 1230.19 513.337 1211.1 513.337H1087.54C1078.44 513.332 1069.45 511.316 1061.22 507.433C1052.99 503.549 1045.71 497.894 1039.92 490.872H986.456C970.081 490.843 954.385 484.325 942.807 472.746C931.228 461.167 924.71 445.471 924.68 429.096V215.687C924.71 199.312 931.228 183.617 942.807 172.038C954.385 160.459 970.081 153.941 986.456 153.911H1032.62C1042.84 133.918 1063.62 120.215 1087.54 120.215H1132.47H1166.17H1211.1C1235.02 120.215 1255.8 133.918 1266.02 153.911ZM1312.19 457.176C1327.69 457.176 1340.27 444.596 1340.27 429.096V215.687C1340.27 200.187 1327.69 187.607 1312.19 187.607H1272.87V210.071H1239.18V181.991C1239.18 166.491 1226.6 153.911 1211.1 153.911H1087.54C1072.04 153.911 1059.46 166.491 1059.46 181.991V210.071H1025.77V187.607H986.456C970.956 187.607 958.376 200.187 958.376 215.687V429.096C958.376 444.596 970.956 457.176 986.456 457.176H1026.11C1025.88 455.313 1025.77 453.437 1025.77 451.56V423.48H1059.46V451.56C1059.46 467.061 1072.04 479.64 1087.54 479.64H1211.1C1226.6 479.64 1239.18 467.061 1239.18 451.56V423.48H1272.87V451.56C1272.87 452.863 1272.76 454.166 1272.65 455.447C1272.61 456.023 1272.57 456.599 1272.54 457.176H1312.19Z'
								fill='#B85620'></path>
							<path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M702.142 342.056H738.753C751.739 342.08 764.187 347.249 773.37 356.432C782.553 365.615 787.722 378.063 787.746 391.049V560.297C787.722 573.284 782.553 585.731 773.37 594.914C764.187 604.097 751.739 609.267 738.753 609.29H696.352C687.355 620.158 673.726 627.106 658.583 627.106H560.597C553.378 627.102 546.249 625.503 539.72 622.424C533.19 619.344 527.422 614.859 522.828 609.29H480.427C467.441 609.267 454.993 604.097 445.81 594.914C436.627 585.731 431.458 573.284 431.434 560.297V391.049C431.458 378.063 436.627 365.615 445.81 356.432C454.993 347.249 467.441 342.08 480.427 342.056H517.038C525.144 326.201 541.624 315.333 560.597 315.333H658.583C677.557 315.333 694.036 326.201 702.142 342.056ZM609.59 497.882L636.314 519.143L662.502 498.417L683.554 522.364L681.387 547.387L660.263 549.919L655.671 536.798L642.877 549.919L625.491 556.912L609.59 540.406L594.983 556.912L572.676 551.559L560.597 540.406L556.678 551.559L537.793 547.387L534.952 522.364L556.678 498.417L582.867 519.143L609.59 497.882ZM565.586 457.323L520.512 412.25L493.254 439.508L512.139 458.392L520.512 450.019L546.701 476.208L565.586 457.323ZM672.479 476.208L653.595 457.323L698.668 412.25L725.926 439.508L707.041 458.392L698.668 450.019L672.479 476.208Z'
								fill='#F5722B'></path>
							<path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M702.142 342.056H738.753C751.739 342.08 764.187 347.249 773.37 356.432C782.553 365.615 787.722 378.063 787.746 391.049V560.297C787.722 573.284 782.553 585.731 773.37 594.914C764.187 604.097 751.739 609.267 738.753 609.29H696.352C687.355 620.158 673.726 627.106 658.583 627.106H560.597C553.378 627.102 546.249 625.503 539.72 622.424C533.19 619.344 527.422 614.859 522.828 609.29H480.427C467.441 609.267 454.993 604.097 445.81 594.914C436.627 585.731 431.458 573.284 431.434 560.297V391.049C431.458 378.063 436.627 365.615 445.81 356.432C454.993 347.249 467.441 342.08 480.427 342.056H517.038C525.144 326.201 541.624 315.333 560.597 315.333H658.583C677.557 315.333 694.036 326.201 702.142 342.056ZM738.753 582.567C751.046 582.567 761.023 572.59 761.023 560.297V391.049C761.023 378.757 751.046 368.78 738.753 368.78H707.576V386.595H680.852V364.326C680.852 352.033 670.876 342.056 658.583 342.056H560.597C548.305 342.056 538.328 352.033 538.328 364.326V386.595H511.604V368.78H480.427C468.134 368.78 458.158 378.757 458.158 391.049V560.297C458.158 572.59 468.134 582.567 480.427 582.567H511.872C511.691 581.089 511.602 579.602 511.604 578.113V555.843H538.328V578.113C538.328 590.406 548.305 600.382 560.597 600.382H658.583C670.876 600.382 680.852 590.406 680.852 578.113V555.843H707.576V578.113C707.576 579.146 707.487 580.179 707.398 581.195C707.364 581.652 707.334 582.109 707.309 582.567H738.753Z'
								fill='#99471B'></path>
							<path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M1023.74 449.478H1047.67C1056.17 449.493 1064.3 452.873 1070.31 458.877C1076.31 464.881 1079.69 473.02 1079.71 481.511V592.17C1079.69 600.661 1076.31 608.799 1070.31 614.803C1064.3 620.807 1056.17 624.187 1047.67 624.203H1019.95C1014.07 631.308 1005.16 635.851 995.258 635.851H931.192C926.472 635.849 921.811 634.803 917.542 632.79C913.273 630.776 909.501 627.844 906.498 624.203H878.775C870.284 624.187 862.145 620.807 856.141 614.803C850.137 608.799 846.757 600.661 846.742 592.17V481.511C846.757 473.02 850.137 464.881 856.141 458.877C862.145 452.873 870.284 449.493 878.775 449.478H902.712C908.012 439.111 918.786 432.005 931.192 432.005H954.489V430.025C954.489 421.464 957.808 413.426 963.865 407.369L968.699 402.535L981.047 414.883L976.213 419.717C973.475 422.454 971.961 426.123 971.961 430.025V432.005H995.258C1007.66 432.005 1018.44 439.111 1023.74 449.478ZM963.225 551.361L980.697 565.262L997.82 551.711L1011.58 567.368L1010.17 583.729L996.356 585.384L993.353 576.805L984.989 585.384L973.621 589.956L963.225 579.164L953.674 589.956L939.09 586.456L931.192 579.164L928.629 586.456L916.282 583.729L914.424 567.368L928.629 551.711L945.752 565.262L963.225 551.361ZM934.453 524.842L904.983 495.372L887.161 513.194L899.509 525.541L904.983 520.067L922.106 537.19L934.453 524.842ZM1004.34 537.19L991.996 524.842L1021.47 495.372L1039.29 513.194L1026.94 525.541L1021.47 520.067L1004.34 537.19Z'
								fill='#D66426'></path>
							<path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M1023.74 449.478H1047.67C1056.17 449.493 1064.3 452.873 1070.31 458.877C1076.31 464.881 1079.69 473.02 1079.71 481.511V592.17C1079.69 600.661 1076.31 608.799 1070.31 614.803C1064.3 620.807 1056.17 624.187 1047.67 624.203H1019.95C1014.07 631.308 1005.16 635.851 995.258 635.851H931.192C926.472 635.849 921.811 634.803 917.542 632.79C913.273 630.776 909.501 627.844 906.498 624.203H878.775C870.284 624.187 862.145 620.807 856.141 614.803C850.137 608.799 846.757 600.661 846.742 592.17V481.511C846.757 473.02 850.137 464.881 856.141 458.877C862.145 452.873 870.284 449.493 878.775 449.478H902.712C908.012 439.111 918.786 432.005 931.192 432.005H954.489V430.025C954.489 421.464 957.808 413.426 963.865 407.369L968.699 402.535L981.047 414.883L976.213 419.717C973.475 422.454 971.961 426.123 971.961 430.025V432.005H995.258C1007.66 432.005 1018.44 439.111 1023.74 449.478ZM1047.67 606.73C1055.71 606.73 1062.24 600.207 1062.24 592.17V481.511C1062.24 473.473 1055.71 466.95 1047.67 466.95H1027.29V478.599H1009.82V464.038C1009.82 456.001 1003.29 449.478 995.258 449.478H931.192C923.155 449.478 916.632 456.001 916.632 464.038V478.599H899.159V466.95H878.775C870.737 466.95 864.214 473.473 864.214 481.511V592.17C864.214 600.207 870.737 606.73 878.775 606.73H899.334C899.216 605.764 899.157 604.791 899.159 603.818V589.258H916.632V603.818C916.632 611.855 923.155 618.378 931.192 618.378H995.258C1003.29 618.378 1009.82 611.855 1009.82 603.818V589.258H1027.29V603.818C1027.29 604.494 1027.23 605.169 1027.17 605.833C1027.15 606.132 1027.13 606.431 1027.12 606.73H1047.67Z'
								fill='#99471B'></path>
							<path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M1132.47 120.215H1166.17L1166.17 116.396C1166.17 99.8849 1159.77 84.3847 1148.08 72.7033L1138.76 63.3807L1114.95 87.1927L1124.27 96.5153C1129.55 101.794 1132.47 108.871 1132.47 116.396L1132.47 120.215Z'
								fill='#F5722B'></path>
							<path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M1132.47 120.215H1166.17L1166.17 116.396C1166.17 99.8849 1159.77 84.3847 1148.08 72.7033L1138.76 63.3807L1114.95 87.1927L1124.27 96.5153C1129.55 101.794 1132.47 108.871 1132.47 116.396L1132.47 120.215Z'
								fill='#B85620'></path>
							<path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M623.148 315.312L623.148 312.283C623.148 299.189 618.071 286.896 608.807 277.632L601.413 270.238L582.529 289.123L589.922 296.516C594.109 300.703 596.425 306.315 596.425 312.283V315.312H623.148Z'
								fill='#F5722B'></path>
							<path
								fill-rule='evenodd'
								clip-rule='evenodd'
								d='M623.148 315.312L623.148 312.283C623.148 299.189 618.071 286.896 608.807 277.632L601.413 270.238L582.529 289.123L589.922 296.516C594.109 300.703 596.425 306.315 596.425 312.283V315.312H623.148Z'
								fill='#99471B'></path>
						</g>
					</g>
				</g>
				<defs>
					<filter
						id='filter0_n_36_2'
						x='92.6526'
						y='259.717'
						width='353.833'
						height='253.62'
						filterUnits='userSpaceOnUse'
						color-interpolation-filters='sRGB'
					>
						<feFlood flood-opacity='0' result='BackgroundImageFix'
						></feFlood>
						<feBlend
							mode='normal'
							in='SourceGraphic'
							in2='BackgroundImageFix'
							result='shape'></feBlend>
						<feTurbulence
							type='fractalNoise'
							baseFrequency='3.3333332538604736 3.3333332538604736'
							stitchTiles='stitch'
							numOctaves='3'
							result='noise'
							seed='5091'></feTurbulence>
						<feComponentTransfer in='noise' result='coloredNoise1'>
							<feFuncR type='linear' slope='2' intercept='-0.5'
							></feFuncR>
							<feFuncG type='linear' slope='2' intercept='-0.5'
							></feFuncG>
							<feFuncB type='linear' slope='2' intercept='-0.5'
							></feFuncB>
							<feFuncA
								type='discrete'
								tableValues='1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 '
							></feFuncA>
						</feComponentTransfer>
						<feComposite
							operator='in'
							in2='shape'
							in='coloredNoise1'
							result='noise1Clipped'></feComposite>
						<feComponentTransfer in='noise1Clipped' result='color1'>
							<feFuncA type='table' tableValues='0 0.15'
							></feFuncA>
						</feComponentTransfer>
						<feMerge result='effect1_noise_36_2'>
							<feMergeNode in='shape'></feMergeNode>
							<feMergeNode in='color1'></feMergeNode>
						</feMerge>
					</filter>
					<filter
						id='filter1_n_36_2'
						x='972.404'
						y='205.471'
						width='353.833'
						height='253.62'
						filterUnits='userSpaceOnUse'
						color-interpolation-filters='sRGB'
					>
						<feFlood flood-opacity='0' result='BackgroundImageFix'
						></feFlood>
						<feBlend
							mode='normal'
							in='SourceGraphic'
							in2='BackgroundImageFix'
							result='shape'></feBlend>
						<feTurbulence
							type='fractalNoise'
							baseFrequency='3.3333332538604736 3.3333332538604736'
							stitchTiles='stitch'
							numOctaves='3'
							result='noise'
							seed='5091'></feTurbulence>
						<feComponentTransfer in='noise' result='coloredNoise1'>
							<feFuncR type='linear' slope='2' intercept='-0.5'
							></feFuncR>
							<feFuncG type='linear' slope='2' intercept='-0.5'
							></feFuncG>
							<feFuncB type='linear' slope='2' intercept='-0.5'
							></feFuncB>
							<feFuncA
								type='discrete'
								tableValues='1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 '
							></feFuncA>
						</feComponentTransfer>
						<feComposite
							operator='in'
							in2='shape'
							in='coloredNoise1'
							result='noise1Clipped'></feComposite>
						<feComponentTransfer in='noise1Clipped' result='color1'>
							<feFuncA type='table' tableValues='0 0.15'
							></feFuncA>
						</feComponentTransfer>
						<feMerge result='effect1_noise_36_2'>
							<feMergeNode in='shape'></feMergeNode>
							<feMergeNode in='color1'></feMergeNode>
						</feMerge>
					</filter>
					<filter
						id='filter2_n_36_2'
						x='467.085'
						y='340.701'
						width='285.404'
						height='253.62'
						filterUnits='userSpaceOnUse'
						color-interpolation-filters='sRGB'
					>
						<feFlood flood-opacity='0' result='BackgroundImageFix'
						></feFlood>
						<feBlend
							mode='normal'
							in='SourceGraphic'
							in2='BackgroundImageFix'
							result='shape'></feBlend>
						<feTurbulence
							type='fractalNoise'
							baseFrequency='3.3333332538604736 3.3333332538604736'
							stitchTiles='stitch'
							numOctaves='3'
							result='noise'
							seed='5091'></feTurbulence>
						<feComponentTransfer in='noise' result='coloredNoise1'>
							<feFuncR type='linear' slope='2' intercept='-0.5'
							></feFuncR>
							<feFuncG type='linear' slope='2' intercept='-0.5'
							></feFuncG>
							<feFuncB type='linear' slope='2' intercept='-0.5'
							></feFuncB>
							<feFuncA
								type='discrete'
								tableValues='1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 '
							></feFuncA>
						</feComponentTransfer>
						<feComposite
							operator='in'
							in2='shape'
							in='coloredNoise1'
							result='noise1Clipped'></feComposite>
						<feComponentTransfer in='noise1Clipped' result='color1'>
							<feFuncA type='table' tableValues='0 0.15'
							></feFuncA>
						</feComponentTransfer>
						<feMerge result='effect1_noise_36_2'>
							<feMergeNode in='shape'></feMergeNode>
							<feMergeNode in='color1'></feMergeNode>
						</feMerge>
					</filter>
					<filter
						id='filter3_n_36_2'
						x='872.792'
						y='459.09'
						width='181.124'
						height='160.488'
						filterUnits='userSpaceOnUse'
						color-interpolation-filters='sRGB'
					>
						<feFlood flood-opacity='0' result='BackgroundImageFix'
						></feFlood>
						<feBlend
							mode='normal'
							in='SourceGraphic'
							in2='BackgroundImageFix'
							result='shape'></feBlend>
						<feTurbulence
							type='fractalNoise'
							baseFrequency='3.3333332538604736 3.3333332538604736'
							stitchTiles='stitch'
							numOctaves='3'
							result='noise'
							seed='5091'></feTurbulence>
						<feComponentTransfer in='noise' result='coloredNoise1'>
							<feFuncR type='linear' slope='2' intercept='-0.5'
							></feFuncR>
							<feFuncG type='linear' slope='2' intercept='-0.5'
							></feFuncG>
							<feFuncB type='linear' slope='2' intercept='-0.5'
							></feFuncB>
							<feFuncA
								type='discrete'
								tableValues='1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 '
							></feFuncA>
						</feComponentTransfer>
						<feComposite
							operator='in'
							in2='shape'
							in='coloredNoise1'
							result='noise1Clipped'></feComposite>
						<feComponentTransfer in='noise1Clipped' result='color1'>
							<feFuncA type='table' tableValues='0 0.15'
							></feFuncA>
						</feComponentTransfer>
						<feMerge result='effect1_noise_36_2'>
							<feMergeNode in='shape'></feMergeNode>
							<feMergeNode in='color1'></feMergeNode>
						</feMerge>
					</filter>
					<filter
						id='filter4_n_36_2'
						x='44.68'
						y='63.3807'
						width='1329.28'
						height='572.47'
						filterUnits='userSpaceOnUse'
						color-interpolation-filters='sRGB'
					>
						<feFlood flood-opacity='0' result='BackgroundImageFix'
						></feFlood>
						<feBlend
							mode='normal'
							in='SourceGraphic'
							in2='BackgroundImageFix'
							result='shape'></feBlend>
						<feTurbulence
							type='fractalNoise'
							baseFrequency='3.3333332538604736 3.3333332538604736'
							stitchTiles='stitch'
							numOctaves='3'
							result='noise'
							seed='802'></feTurbulence>
						<feComponentTransfer in='noise' result='coloredNoise1'>
							<feFuncR type='linear' slope='2' intercept='-0.5'
							></feFuncR>
							<feFuncG type='linear' slope='2' intercept='-0.5'
							></feFuncG>
							<feFuncB type='linear' slope='2' intercept='-0.5'
							></feFuncB>
							<feFuncA
								type='discrete'
								tableValues='0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 '
							></feFuncA>
						</feComponentTransfer>
						<feComposite
							operator='in'
							in2='shape'
							in='coloredNoise1'
							result='noise1Clipped'></feComposite>
						<feComponentTransfer in='noise1Clipped' result='color1'>
							<feFuncA type='table' tableValues='0 0.15'
							></feFuncA>
						</feComponentTransfer>
						<feMerge result='effect1_noise_36_2'>
							<feMergeNode in='shape'></feMergeNode>
							<feMergeNode in='color1'></feMergeNode>
						</feMerge>
					</filter>
				</defs>
			</svg>
		</div>
	</section>
</BaseLayout>
<style>
	.lanterns {
		background-image: linear-gradient(
			to top,
			var(--black-900),
			var(--black-700) 20%,
			var(--black-900)
		);
		border-radius: 40%;
	}

	svg {
		width: 100%;
		height: auto;
		max-width: 1400px;
	}

	@keyframes pulse1 {
		0% {
			opacity: 0.6;
			filter: drop-shadow(0 0 10px rgba(255, 216, 20, 0.4));
		}
		50% {
			opacity: 1;
			filter: drop-shadow(0 0 25px rgba(255, 216, 20, 0.8));
		}
		100% {
			opacity: 0.6;
			filter: drop-shadow(0 0 10px rgba(255, 216, 20, 0.4));
		}
	}

	@keyframes pulse2 {
		0% {
			opacity: 0.7;
			filter: drop-shadow(0 0 12px rgba(255, 216, 20, 0.5));
		}
		50% {
			opacity: 0.95;
			filter: drop-shadow(0 0 20px rgba(255, 216, 20, 0.7));
		}
		100% {
			opacity: 0.7;
			filter: drop-shadow(0 0 12px rgba(255, 216, 20, 0.5));
		}
	}

	@keyframes pulse3 {
		0% {
			opacity: 0.65;
			filter: drop-shadow(0 0 15px rgba(255, 216, 20, 0.45));
		}
		50% {
			opacity: 0.98;
			filter: drop-shadow(0 0 22px rgba(255, 216, 20, 0.75));
		}
		100% {
			opacity: 0.65;
			filter: drop-shadow(0 0 15px rgba(255, 216, 20, 0.45));
		}
	}

	@keyframes pulse4 {
		0% {
			opacity: 0.6;
			filter: drop-shadow(0 0 8px rgba(255, 216, 20, 0.35));
		}
		50% {
			opacity: 1;
			filter: drop-shadow(0 0 18px rgba(255, 216, 20, 0.65));
		}
		100% {
			opacity: 0.6;
			filter: drop-shadow(0 0 8px rgba(255, 216, 20, 0.35));
		}
	}

	#lighting {
		animation: pulse1 2.5s ease-in-out infinite;
	}

	#lighting_2 {
		animation: pulse2 2.8s ease-in-out infinite;
		animation-delay: 0.3s;
	}

	#lighting_3 {
		animation: pulse3 2.4s ease-in-out infinite;
		animation-delay: 0.6s;
	}

	#lighting_4 {
		animation: pulse4 2.2s ease-in-out infinite;
		animation-delay: 0.9s;
	}
</style>
