---
import MathTable from '../components/MathTable'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title='Spell | Oct 27th'>
	<section class='container'>
		<div class='controls'>
			<h1 class='heading'>Day 28 Tables</h1>
		</div>
		<MathTable client:load />
	</section>
</BaseLayout>
