---
import baseData from '../data/baseData.js'
import Navbar from './Navbar.astro'
const currentYear = new Date().getFullYear()
---

<footer>
	<Navbar />
	<div class='footer-content'>
		<a
			href={baseData.portfolioURL}
			target='_blank'
			rel='noopener noreferrer'
			aria-label=`Sam's portfolio`
			class='footer-link'
			>Made with &#128376; and &#9749; by Sam Almohanna <span
				class='arrow'>&#8599;</span
			></a
		>
		<p class='copyright'>
			Copyright &copy; {currentYear} - All rights reserved
		</p>
	</div>
</footer>

<style>
	footer {
		background-color: var(--black-900);
	}

	.footer-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: var(--max-content-w);
		margin-inline: auto;
		padding-inline: var(--spacing-s);
	}
	.footer-link {
		text-decoration: none;
		padding-block: var(--spacing-2xs);
		color: var(--white-300);
	}
	.footer-link:hover {
		text-decoration: underline;
		text-underline-position: under;
		color: var(--orange-400);
	}
	.arrow {
		font-size: var(--text-step-0);
	}
	.copyright {
		font-size: var(--text-step--2);
		padding-block: var(--spacing-2xs);
	}

	@media (min-width: 1000px) {
		.footer-content {
			flex-direction: row;
			gap: 0;
		}
	}
</style>
