<nav>
	<a href='/' aria-label='home'>&#127875; WWO &#128123;</a>
</nav>
<style>
	nav {
		max-width: var(--max-content-w);
		width: 100%;
		margin-inline: auto;
		padding-inline: var(--spacing-s);
	}
	a {
		display: inline-block;
		font-size: var(--text-step--1);
		font-weight: 800;
		text-decoration: none;
		color: inherit;
		padding-block: var(--spacing-xs);
	}
</style>
